{% extends "base.html" %}
{% load bootstrap %}
{% load i18n %}
{% block style %}
  <style>
    body{
      background-image: linear-gradient(to right, aqua, rgb(150, 68, 226), rgb(205, 43, 226)) ;
    }
    .btn{
      background-color: black;
      padding-right: 40px;
      color: black;
      text-decoration: none;
      font-size: 19px;
      margin-bottom: 20px;
    }
    section{
      margin-top: 30px;
      margin-left: 255px;
      height: 500px;
      width: 600px;
      border: 1px solid black;
      border-radius: 20px;
      background-color: white;
    }
    h1{
      text-align: center;
      margin-bottom: 10px;
      font-family: 'Open Sans', sans-serif;
    }
    p{
      padding-left: 25px;
      margin-bottom: 15px;
    }
    form{
      margin-left: 25px;
      margin-right: 20px;
    }
    .primaryAction{
      height: 35px;
      width: 115px;
      display: block;
      margin-top: 10px;
      border-radius: 5px;
      background-color: rgb(29, 60, 231);
      color: black;
    }
    .secondaryAction{
      display: inline;
      float: right;
      text-decoration: none;
    }
  </style>
{% endblock %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class = "container">
  <section>

  <center><h1>Login</h1></center>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <center><p>Please login either with you Google account: </p></center>
  <center><button class=" btn btn_google">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</button><p></p></center>
  <center><h4>OR</h4></center><p></p>
  <center><p><a href="{{ signup_url }}">Sign Up</a> for <b>MyPlate Account</b> and Sign In below.</p></center>





  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <p></p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
   <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>

  </form>
</section>
</div>
{% endblock %}
