{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    body{
      background-image: linear-gradient(to right, aqua, rgb(150, 68, 226), rgb(205, 43, 226))
    }
    table{
        text-align: center;
        margin-top: 25px;
    }
    h1{
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 25px;
    }
    th{
        font-size: 20px;
    }
    td{
        font-size: 17px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
<h1>{{user.first_name}} {{user.last_name}}, here are your previous records:</h1>
<center>
<table class="table table-dark" style="width: 70%;">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col" style="width: 32.5%;">Goal</th>
        <th scope="col" style="width: 35%;">Calories consumed</th>
      </tr>
    </thead>
    <tbody>
    {% for record in records %}
      <tr>
        <td>{{record.date}}</td>
        <td>{{record.goal_set}}</td>
        <td>{{record.totalCalories}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</center>
</div>
{% endblock %}

{% block js %}
<script>
    localStorage.clear();
</script>
{% endblock %} 